<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Popular Movies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <style>
        .title-header {
            padding: .75rem 1.25rem;
            background-color: #f5f5f5;
            border-bottom: 1px solid transparent;
        }

        .title-header h3 {
            font-size: 0.80rem;
            margin: 0;
        }

        .movies {
            margin-top: 2rem;
        }

        .img-card {
            width: 100%;
            margin-bottom: .40rem;
        }

        .movies {
            margin-bottom: .60rem;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/Movies">
        Movies App
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="/Movies">Movies</a>
            </li>
        </ul>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="query"
               style="width: 60%">
        <button class="btn btn-outline-success my-2 my-sm-0" onclick="myFunction()">Search</button>
        <script>
            function myFunction() {
                query = document.getElementById("query").value;
                window.open('/Search?query=' + query, "_self")
            }
        </script>
    </div>
</nav>
<main class="container">
    <section class="movies" id="movies">
        <div class="row">
            {% for movies in Movies %}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <article class="card">
                    <header class="title-header">
                        <h3>{{movies.title}}</h3>
                    </header>
                    <div class="card-block">
                        <div class="img-card">
                            <img src="https://image.tmdb.org/t/p/w500{{movies.poster_path}}" alt="Movie" class="w-100"/>
                        </div>

                        <a href="/Movie_Detail?id={{movies.id}}" class="btn btn-primary btn-block">
                            <i class
                                       ="fa fa-eye"></i> Details </a>
                    </div>
                </article>
            </div>
            {% endfor %}
        </div>
    </section>
</main>
</body>
</html>